@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-normal leading-9;
    font-family: Inter, system-ui, sans-serif;
  }
}

.main-header {
  @apply hidden lg:flex flex-wrap min-h-0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);

  .cta {
    @apply font-bold text-base font-inter text-primary bg-premium;
    padding: 10px 20px;
    border-radius: 57px;
  }
}

.mobile-header {
  @apply bg-primary lg:hidden;
  min-height: 60px;
}

.searchbar {
  box-shadow: inset 0px 0px 18px -4px rgba(0, 0, 0, 0.15);
}

.search-textfield {
  @apply block w-full flex-1 rounded-none border-b border-solid border-purple-200 outline-none placeholder:text-primary;
  font-size: 18px;
  max-width: 415px;
}
