@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-normal leading-9 font-inter;

    p {
      &.small {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-lora text-dark;
  }
  h2,
  h3,
  h4 {
    @apply font-medium;
  }

  h1 {
    @apply font-normal text-6xl;
  }

  h2 {
    font-size: 40px;
    line-height: 55px;
  }

  h3 {
    @apply text-3xl;
  }
  h4 {
    font-size: 25px;
    line-height: 32px;
  }

  button,
  .btn,
  .button {
    &.large {
      @apply bg-primary text-white text-xl;
      line-height: 150%;
      padding: 8px 16px;
    }
  }
}
