.loginForm {
  @apply mx-auto lg:mt-16;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  max-width: 650px;
  padding: 75px;

  input[type='email'],
  input[type='password'] {
    @apply block w-full border border-gray-400 pl-3 rounded text-secondary placeholder:text-secondary mb-6 h-11;
  }

  input[type='password'] {
    @apply pr-16;
  }
}

.showPass {
  @apply cursor-pointer uppercase font-bold text-purple-600 absolute top-1 right-3;
  font-size: 13px;
}

.ssoIcons {
  @apply flex items-center mx-1.5 text-center;
  width: 68px;
  height: 54px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.2),
    0px 1px 3px rgba(50, 50, 71, 0.1);
  border-radius: 12px;

  span {
    @apply flex;
  }
}

.formBreakline {
  @apply uppercase;
}
